*{
    font-family: "Avarage Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    margin: 0;
}
.interface{
    width: 1170px;
    margin: auto;
}
header{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}
header nav image{
    display: inline-block;
}
header nav ul{
    display: inline-block;
    float: right;
    margin-top: 5px;
}
header nav li{
    display: inline-block;
    margin-left: 10px;

}
header nav ul li a{
    color: #282e2b;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}
header nav ul li a:hover{
    color: #5c6761;
}
/*sessão home*/
#home{
    background-image: url('../images/fundo-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
section#home main{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
}

section#home main div{
    margin: auto 20px;
}

section#home h1{
    color: white;
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}

section#home p{
    color: white;
    font-size: 14pt;
    text-align: center;
}
/*sessão sobre*/
section#sobre{
    background-color: #fff;
    color: #282e2b;
    padding: 40px 50px;
    margin: 0;
}
section#sobre main{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
section#sobre main div.conteudo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
section#sobre h1{
    font-size: 30pt;
    margin: 20px 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
}
section#sobre div.titulo div.borda{
    width: 80px;
    background-color: #282e2b;
    height: 6px;
    margin-bottom: 20px;
    border-radius: 10px;
}
section#sobre main div.conteudo div{
    margin: 0 20px;
}
section#sobre p{
    text-align: justify;
    text-indent: 50px;
}
/*sessão portfolio*/
section#portfolio{
    background-color: #282e2b;
    color: white;
}
section#portfolio main.interface{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
section#portfolio main.interface div.conteudo{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    justify-content: center;
}
section#portfolio h1{
    font-size: 30pt;
    margin: 20px 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}
section#portfolio div.titulo div.borda{
    width: 80px;
    background-color: #fff;
    height: 6px;
    margin-bottom: 20px;
    border-radius: 10px;
}
section#portfolio div.conteudo figure{
    background: #fff;
    color: #282e2b
}
section#portfolio div.conteudo figure figcaption{
    padding: 5px 0;
}
section#portfolio div.conteudo figure figcaption h2{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
}
section#portfolio div.conteudo figure figcaption p{
    margin: 0;
    text-align: center;
}
/*sessão equipe*/
#equipe{
    background-color: #fff;
    color: #000;
}
section#equipe main{
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
section#equipe main div.conteudo{
    display: flex;
    flex-direction: row;
    margin: 5px 300px;
    justify-content: space-between;
}

section#equipe h1{
    font-size: 30pt;
    margin: 20px 0 0 0;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
}
section#equipe div.titulo div.borda{
    width: 80px;
    background-color: #282e2b;
    height: 6px;
    margin-bottom: 20px;
    border-radius: 10px;
}
section#equipe div.conteudo figure{
    background: #fff;
    color: #282e2b;
}
section#equipe div.conteudo figure figcaption{
    padding: 5px 0;
}
section#equipe div.conteudo figure figcaption h2{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16pt;
}
section#equipe div.conteudo figure figcaption p{
    margin: 0;
    text-align: center;
}
section#equipe div.conteudo div{
    border: 1px solid black;
    width: 250px;
    height: 300px;
    border-bottom: 4px solid green;
}
/*sessão contato*/
section#contato{
    background-image:url('../images/fundo-contato.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
section#contato main.interface{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
section#contato main div.titulo h1{
    font-size: 30px;
    margin: 20px 0 0;
    font-weight: bold;
    text-transform: uppercase;
}
section#contato main div.titulo h1 div.borda{
    background-color: #fff;
    width: 80px;
    height: 6px;
    margin-bottom: 20px;
}
section#contato main div.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
section#contato main div.conteudo div#mapa{
    background-color: #cecece;
    width: 100%;
    height: 350px;
}
section#contato main div.conteudo div.formulario{
    width: 400px;
    margin-left: 10px;
}
section#contato main div.conteudo form{
    display: flex;
    flex-direction: column;
}
section#contato main div.conteudo form input{
    width: 100%;
    margin-bottom: 10px;
}
section#contato main div.conteudo form textarea{
    height: 100px;
    margin-bottom: 10px;
}
section#contato main div.conteudo form button{
    width: 100px;
    font-weight: bold;
}
/* sessão footer */
footer{
    background-color: #282e2b;
    color: white;
}
footer main.interface{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}